
.animate-in {
    -webkit-animation: fadeIn .7s ease-in;
    animation: fadeIn .7s ease-in;
}

.animate-out {
    -webkit-transition: opacity .7s;
    transition: opacity .7s;
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

:root {
  --brandColor: hsl(166, 67%, 51%);
  --background: rgb(247, 247, 247);
  --textDark: hsla(0, 0%, 0%, 0.66);
  --textLight: hsla(0, 0%, 0%, 0.33);
}


html. body {
  max-width: 100%;
}

body {
  background: var(--background);
  height: 100vh; */
  color: #000;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #37a695;
}

h2 {
  font-size: 1.5vw;
}

.column {
  max-width: 100%;
}

.button a {
  font-decoration: none;
}

.grade-superbig {
  font-size: 12vw;
  margin-top: -10%;
  color: ##37a695;
}

.city-superbig {
  font-size: 8vw;
  color: ##37a695;
}


.field:not(:last-child) {
  margin-bottom: 1rem;
}

.register {
  margin-top: 10rem;
  background: white;
  border-radius: 10px;
}

.left,
.right {
  padding: 4.5rem;
}

.left {
  border-right: 5px solid var(--background);
}

.left .title {
  font-weight: 800;
  letter-spacing: -2px;
}

.left .colored {
  color: var(--brandColor);
  font-weight: 500;
  margin-top: 1rem !important;
  letter-spacing: -1px;
}

.left p {
  font-size: 1.15rem;
}

.right .title {
  font-weight: 800;
  letter-spacing: -1px;
}

.right .description {
  margin-top: 1rem;
  margin-bottom: 1rem !important;
  color: black;
  font-size: 1.15rem;
}

.right small {
  color: black;
}

input {
  font-size: 1rem;
}

input:focus {
  border-color: var(--brandColor) !important;
  box-shadow: 0 0 0 1px var(--brandColor) !important;
}

.fab,
.fas {
  color: var(--textLight);
  margin-right: 1rem;
}

.chango {
  font-family: 'Chango', cursive;
  /* font-size: 1em; */
  /* margin-top: 50px; */
}

.bowlby {
font-family: 'Bowlby One SC', cursive;
}

.nunito {
  font-family: 'Nunito', sans-serif;
  font-decoration: none;
}

.fujibg {
  background-image: url("fuji.png");
  background-repeat: no-repeat;
background-position: bottom;
}

.towerbg {
  background-image: url("tower.png");
  background-repeat: no-repeat;
background-position: bottom;
}

.info-request {
  font-size: .8vw;
}

.again {
  font-size: 2vw;
}

@media (max-width: 550px) {

  body, html {
    overflow-x: hidden;
  }

  .grade-superbig {
    font-size: 50vw;
    margin-top: -10%;
    color: ##37a695;
  }

  .city-superbig {
    font-size: 10vw;
    color: ##37a695;
  }

  .again {
    font-size: 7vw;
  }

  .info-request {
    font-size: 4vw;
  }

  h2 {
    font-size: 6vw;
  }
}
