{% extends "base.html" %}

{% block content %}

  </head>

<body class="animate-in">
    <section class="container">
      <div class="columns is-multiline">
        <div class="column is-8 is-offset-2 register">
          <div class="columns">
            <div class="column left">
              <h1 class="title is-size-2-desktop chango">Rate Me</h1>
              <hr>
              <p class="has-text-justified">Input your target area, room size,
                and estimated monthly take-home pay, and we will rate your rent!
                <br>
                <hr>
                <br>


                <form method="POST" id="form">
                <div class="control">
                  Estimated Monthly Take-Home Pay:
                  {% if error_message %}
                  <p style="color:red"> {{ error_message }}</p>
                    {% endif %}
                  <br><span class="number-rent" style="font-size: 2em">¥ <input class="input text-form"  name="salary" style="width: 80px;" type="number" placeholder="">0,000</span>
                  <br>
                  <br>
                  Target Area:<br>
                  <div class="select">
                    <select name="user_city">
                      <option value=1>Edogawa</option>
                      <option value=2>Katsushika</option>
                      <option value=3>Adachi</option>
                      <option value=4>Nerima</option>
                      <option value=5>Itabashi</option>
                      <option value=6>Arakawa</option>
                      <option value=7>Kita</option>
                      <option value=8>Toshima</option>
                      <option value=9>Suginami</option>
                      <option value=10>Nakano</option>
                      <option value=11>Shibuya</option>
                      <option value=12>Setagaya</option>
                      <option value=13>Ota</option>
                      <option value=14>Meguro</option>
                      <option value=15>Shinagawa</option>
                      <option value=16>Koto</option>
                      <option value=17>Sumida</option>
                      <option value=18>Taito</option>
                      <option value=19>Bunkyo</option>
                      <option value=20>Shinjuku</option>
                      <option value=21>Minato</option>
                      <option value=22>Chuo</option>
                      <option value=23>Chiyoda</option>

                    </select>
                  </div>
                  <br>
                  <br>Room Size:<br>
                  <div class="select">
                    <select name="room_type">
                      <option value="oneroom">One room</option>
                      <option value="onek">1K/1DK/1LDK</option>
                      <option value="twok">2K/2DK/2LDK</option>
                      <option value="threek">3K/3DK/3LDK</option>
                      <option value="fourk">4K/4DK/4LDK</option>
                    </select>
                    <br>
                    <div class="buttons">
                      <button type="submit" id="form" class="button is-primary">Submit</button>


</form>
                      <br><br>
                      <p>

                    </div>
                  </div>

<br><br><br>
                </div>


            </div>
          </div>
          </div>
        </div>
      </div>
    </section>
  </body>

{% endblock %}
